bin/
obj/
out/

.idea/
*.sln.iml

*.user
*.userosscache
*.suo
*.userprefs
*.sln.docstates

appsettings.Development.json
app.db

*.log
logs/
.tlog

~$
*.tmp
*.temp
*.bak
*.cache
*.pid
*.seed
*.orig

.vs/

*.nupkg
*.snupkg
*.nuspec
packages/

*.dll
*.exe
*.pdb

publish/
wwwroot/dist/
wwwroot/lib/
node_modules/
bower_components/

.DS_Store
Thumbs.db
desktop.ini
