<link rel="stylesheet" href="css/gallery.css">

@{
    ViewData["Title"] = "Gallery";
}
<div class="container">
    <div class="row">
        <h2>Flash</h2>
        <img src="Images/Gallery/hei.jpg" alt="test bilde" width="300"/>
        <img src="Images/Gallery/hei.jpg" alt="test bilde" width="300"/>
        <img src="Images/Gallery/hei.jpg" alt="test bilde" width="300"/>
    </div>
    <div class="row">
        <h2>Unavailable</h2>
        <img src="Images/Gallery/hei.jpg" alt="test bilde" width="300"/>
        <img src="Images/Gallery/hei.jpg" alt="test bilde" width="300"/>
        <img src="Images/Gallery/hei.jpg" alt="test bilde" width="300"/>
    </div>
</div>