@{
    ViewData["Title"] = "Flash Tattoos";
}

@section Styles {
    <link rel="stylesheet" href="~/css/gallery.css" asp-append-version="true" />
}

<section class="flash-page container">
    <h1>@ViewData["Title"]</h1>

    <div class="flash-grid">
        <img src="/Images/flash/image0.jpeg" alt="Flash 1" />
        <img src="/Images/flash/image1.jpeg" alt="Flash 2" />
        <img src="/Images/flash/image2.jpeg" alt="Flash 3" />
        <img src="/Images/flash/image3.jpeg" alt="Flash 4" />
        <img src="/Images/flash/image4.jpeg" alt="Flash 5" />
        <img src="/Images/flash/image0.jpeg" alt="Flash 6" />
        
    </div>
</section>