.custom-navbar .navbar-nav {
    margin-left: auto !important;      
    gap: 2rem;
}

.custom-navbar a,
.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
    font-size: 1.3rem !important;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #fff;
}

.custom-navbar .btn {
    font-size: 1.3rem !important;
}

.custom-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    /*background: #000000;
    background: linear-gradient(180deg,
        rgba(0, 0, 0, 0.9) 0%,
        rgba(0, 0, 0, 0.67) 26%,
        rgba(0, 0, 0, 0.57) 37%,
        rgba(0, 0, 0, 0.49) 47%,
        rgba(0, 0, 0, 0.4) 55%,
        rgba(0, 0, 0, 0.29) 64%,
        rgba(0, 0, 0, 0.21) 70%,
        rgba(0, 0, 0, 0.13) 77%,
        rgba(0, 0, 0, 0) 91%);
*/

}
.custom-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem 2rem;

    /* Dark + transparent + blurred */
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border-bottom: 1px solid rgba(255, 255, 255, 0.08); /* subtle edge line */
    z-index: 1000;
}


.custom-navbar .nav-link:hover {
    text-shadow: 2px 2px 6px #000;
}



.custom-navbar .btn {
    margin-top: 2px;
    border-radius: 0 !important;
}
.custom-navbar .btn a {
    padding: 6px !important;
}
.custom-navbar {
    padding-top: 2rem;   /* py-4 = 1.5rem top + bottom */
    padding-bottom: 2rem;
    transition: padding 0.5s ease;
}

.custom-navbar.scrolled {
    padding-top: 1rem;    /* py-3 = 1rem top + bottom */
    padding-bottom: 1rem;
}

/*
.custom-navbar::after {
    content: "";
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: -1;
}*/