html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

/* Kun forsiden: forsidebilde */
.hero-section{
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    display:flex;
    align-items:center;
    justify-content:center;
}
/* eventuell tekst oppå bildet */
.hero-content{
    color:#fff;
    text-align:center;
    text-shadow:0 2px 8px rgba(0,0,0,.5);
}

.hero-section {
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-full {
    width: 100vw;
    margin-left: calc(50% - 50vw);
}

.hero-content {
    color:#fff;
    text-align:center;
    text-shadow:0 2px 8px rgba(0,0,0,.5);
}


body {
    margin-bottom: 60px;   /* keep this from your original */
    padding-top: 7rem;    /*  approximate navbar height */
}

body {
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
}

/* Blurred background image for ALL pages */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: url('/Images/Gallery/forside_1.jpg') center / cover no-repeat;
    filter: blur(20px);
    transform: scale(1.1); /* fjerner blurry kanter*/
    z-index: -1;
}

body::after {
    content: "";
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: -1;
}

.btn {
    border-radius: 0 !important;
}
button:focus,
 .btn:focus {
     box-shadow: none !important;
 }
a, p, h1, h2, h3, h4, h5, h6, label {
    color: #fff;
}