@section Styles {
    <link rel="stylesheet" href="~/css/about.css" asp-append-version="true" />
}

@{
    ViewBag.Title = "About";
    Layout = "_Layout";
}

<div class="container about-container">
    <div class="row align-items-start">
        <div class="col text-column">
            <h2>About Nikolai Nelvik</h2>
            <p>Body text for your whole article or post. We’ll put in some lorem ipsum to show how a filled-out page might look:

                Excepteur efficient emerging, minim veniam anim aute carefully curated Ginza conversation exquisite perfect nostrud nisi intricate Content. Qui  international first-class nulla ut. Punctual adipisicing, essential lovely queen tempor eiusmod irure. Exclusive izakaya charming Scandinavian impeccable aute quality of life soft power pariatur Melbourne occaecat discerning. Qui wardrobe aliquip, et Porter destination Toto remarkable officia Helsinki excepteur Basset hound. Zürich sleepy perfect consectetur.</p>
        </div>
        <div class="col-auto image-column">
            <div class="image-container">
                <img src="Images/about.jpg" id="aboutImg">
            </div>
        </div>
    </div>
    
</div>